In [1]:
import pandas as pd

In [4]:
pop = pd.read_csv('/data/est2018-pop-res.csv')

In [5]:
pop.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2018,POPEST18PLUS2018,PCNT_POPEST18PLUS
0,10,0,0,0,United States,327167434,253768092,77.6
1,40,3,6,1,Alabama,4887871,3798031,77.7
2,40,4,9,2,Alaska,737438,553622,75.1
3,40,4,8,4,Arizona,7171646,5528989,77.1
4,40,3,7,5,Arkansas,3013825,2310645,76.7

In [10]:
pop.shape

(53, 8)

In [15]:
pop.groupby(['SUMLEV', 'DIVISION']).count()

                 REGION  STATE  NAME  POPESTIMATE2018  POPEST18PLUS2018  \
SUMLEV DIVISION
10     0              1      1     1                1                 1
40     1              6      6     6                6                 6
       2              3      3     3                3                 3
       3              5      5     5                5                 5
       4              7      7     7                7                 7
       5              9      9     9                9                 9
       6              4      4     4                4                 4
       7              4      4     4                4                 4
       8              8      8     8                8                 8
       9              5      5     5                5                 5
       X              1      1     1                1                 1

                 PCNT_POPEST18PLUS
SUMLEV DIVISION
10     0                         1
40     1                         6
       2                         3
       3                         5
       4                         7
       5                         9
       6                         4
       7                         4
       8                         8
       9                         5
       X                         1

In [17]:
pop['NAME'].value_counts()

Kentucky                    1
Florida                     1
New Mexico                  1
Illinois                    1
Puerto Rico Commonwealth    1
Washington                  1
Idaho                       1
Alabama                     1
Ohio                        1
Maryland                    1
Mississippi                 1
Pennsylvania                1
North Carolina              1
District of Columbia        1
Louisiana                   1
Georgia                     1
Missouri                    1
Virginia                    1
Maine                       1
Texas                       1
Kansas                      1
Iowa                        1
Vermont                     1
Oklahoma                    1
Arizona                     1
Wyoming                     1
Utah                        1
Wisconsin                   1
West Virginia               1
Alaska                      1
New Jersey                  1
Oregon                      1
Colorado                    1
California                  1
Delaware                    1
South Dakota                1
New York                    1
New Hampshire               1
Montana                     1
Rhode Island                1
Tennessee                   1
Nebraska                    1
Nevada                      1
Massachusetts               1
Arkansas                    1
Michigan                    1
Connecticut                 1
South Carolina              1
Indiana                     1
United States               1
Hawaii                      1
North Dakota                1
Minnesota                   1
Name: NAME, dtype: int64

In [18]:
pop.NAME.value_counts().value_counts()

1    53
Name: NAME, dtype: int64

In [19]:
pop.describe()

,SUMLEV,STATE,POPESTIMATE2018,POPEST18PLUS2018,PCNT_POPEST18PLUS
count,53.000000,53.000000,5.300000e+01,5.300000e+01,53.000000
mean,39.433962,29.226415,1.240623e+07,9.625233e+06,77.743396
std,4.120817,17.108974,4.465386e+07,3.463121e+07,2.062813
min,10.000000,0.000000,5.777370e+05,4.429620e+05,70.500000
25%,40.000000,16.000000,1.805832e+06,1.441672e+06,76.700000
50%,40.000000,29.000000,4.468402e+06,3.459573e+06,77.800000
75%,40.000000,42.000000,7.535591e+06,5.872306e+06,78.900000
max,40.000000,72.000000,3.271674e+08,2.537681e+08,81.900000